@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .toolbar-wrapper .react-grid-item{
    @apply bg-white;
    box-shadow: 5px 5px 10px #c5c5c5, -5px -5px 10px #c5c5c5; 
  } 

  .dark .toolbar-wrapper .react-grid-item{
    @apply bg-night-100;
    box-shadow: 5px 5px 10px #11131f, -5px -5px 10px #252943; 
  } 

  body:not(.dark) .toolbar-wrapper .highcharts-title {
    @apply fill-black !important dark:fill-night-400;
  }

  .dark .toolbar-wrapper .highcharts-title {
    @apply fill-night-400;
  }

  body:not(.dark) .toolbar-wrapper .highcharts-background {
    @apply fill-white;
  } 

  .dark .toolbar-wrapper .highcharts-background {
    @apply fill-night-100;
  } 

  .dark .hide-button {
    @apply text-white;
  }

  .toolbar-wrapper .layout {
    @apply overflow-visible;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
    bg-gray-400 hover:bg-light-400 dark:bg-night-100 dark:hover:bg-green-600
    text-light-400 hover:text-white dark:text-green-500 dark:hover:text-night-100
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg z-[100];
  }

  /* We can't use the hover utility to show tooltip since it's impossible to hover over
  an invisible class. So we apply group. But group-hover doesn't work in @apply */
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }


  .top-navigation-icon {
    @apply relative flex items-center justify-center 
    h-8 w-8 mt-4 mb-5 mx-auto
    text-gray-500 hover:text-red-600
    transition duration-300 ease-in-out 
    cursor-pointer shadow-lg ;
  }

  .faq-header {
    @apply flex justify-between w-full px-4 py-2 font-bold text-left text-2xl
    text-light-400 dark:text-night-400 bg-light-200 dark:bg-night-200 
    rounded-lg hover:bg-purple-200 focus:outline-none focus-visible:ring focus-visible:ring-purple-500 
    focus-visible:ring-opacity-75
  }

  .faq-answer {
    @apply px-4 pt-4 pb-2 text-lg text-light-300 dark:text-night-300 font-sans
  }

  .text-normal {
    @apply text-light-400 dark:text-night-400
  }

  .text-contrast {
    @apply text-light-300 dark:text-night-300
  }
  
  .bg-base {
    @apply bg-light-100 dark:bg-night-100
  }

  .bg-component {
    @apply bg-light-200 dark:bg-night-200
  }

  .toolbox__item {
    @apply flex border-light-400 dark:border-night-400 border-2
    text-light-300 dark:text-white font-semibold
    rounded-md px-2 py-1 mr-2 cursor-pointer 
  }

  .toolbox__items-wrapper {
    @apply flex
  }

  .toolbox {
    @apply mb-5 p-4 bg-light-200 dark:bg-night-200
  }

  .hide-button {
    @apply absolute text-2xl w-4 m-0 -top-1.5 text-black right-5 cursor-pointer
  }
}